<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>

    <!-- build:process -->
    <title><%= title %></title>
    <!-- /build -->

    <script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script>

    <link rel="stylesheet" href="assets/css/app.css" type="text/css"/>
</head>
<body>
<div id="content"></div>
<div id="dummy" style="position:fixed;right:0;bottom:0"></div>
<div id="orientation"></div>

<script type="text/javascript">
    <!-- build:process -->
    var gameName = "<%= gameName %>.min.js";
    <!-- /build -->

    //This all here is for cache busting;
    function addScript(src, buster, callback) {
        var s = document.createElement('script');
        s.setAttribute('src', src + '?v=' + buster);
        if (typeof callback === 'function') {
            s.onload = callback;
        }
        document.body.appendChild(s);
    }

    addScript('version.js', Date.now(), function () {
        addScript(gameName, version, function () {
            /**
             * Here we create the game
             */
            var game = new BoilerPlate.Game.getInstance();

            /**
             * Below here are all the events that are fired by the game.\
             * Use these events to show ads or implement highscore
             *
             * The events can only be added when the document is done loading (ready), so we have to wait for this
             */
            game.device.whenReady(function () {
                game.events.onGameStart.add(function () {
                    //Fired when the game starts
                });
                game.events.onGameEnd.add(function (score) {
                    //Fired when the game ends
                });
                game.events.onLevelStart.add(function () {
                    //Fired when the game starts
                });
                game.events.onLevelEnd.add(function () {
                    //Fired when the game starts
                });
            });
            game.start();
        })
    })
</script>

</body>
</html>
