<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <link rel="stylesheet" href="assets/css/app.css" type="text/css" />
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="content"></div>
    <div id="loader">Loading ...</div>
    <div id="orientation"></div>
</body>
</html>
