<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <title>Orange Games Boilerplate</title>

    <link rel="stylesheet" href="assets/css/app.css" type="text/css" />

    <script src="phaser/build/phaser.js"></script>
    <script src="webfontloader/webfontloader.js"></script>
    <script src="og-fabrique-boilerplate.js"></script>

    <script type="text/javascript">
        /**
         * Script used for live reloading on development environments
         * Not used for production!!!!
         */
        if (window.location.host !== 'generic.tc.ds.orangegames.com') {
            (function(d, script) {
                script = d.createElement('script');
                script.type = 'text/javascript';
                script.async = true;
                script.onload = function(){
                    // remote script has loaded
                };
                script.src = '//' + window.location.hostname + ':35729/livereload.js';
                d.getElementsByTagName('head')[0].appendChild(script);
            }(document));
        }
    </script>

    <script type="text/javascript">
        /**
         * Here we create the game and define the user for game analytics, this has to be done/implemented by every portal!
         *
         * @type {GA.User}
         */
        var version = 'dev',
            libs = [
                '@orange-games/phaser-cachebuster/build/phaser-cachebuster.js',
                '@orange-games/phaser-spine/build/phaser-spine.js',
                '@orange-games/phaser-ads/build/phaser-ads.min.js',
                '@orange-games/phaser-super-storage/build/phaser-super-storage.min.js',
                '@orange-games/splash/build/splash.js'
            ];
       var game = new BoilerPlate.Game();
    </script>
</head>
<body>
    <div id="content"></div>
    <div id="loader">Loading ...</div>
    <div id="orientation"></div>
</body>
</html>
