<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <title>Boilerplate</title>

    <link rel="stylesheet" href="assets/css/app.css" type="text/css" />

    <script src="phaser/dist/phaser.js"></script>
    <script src="phaser-responsive/build/phaser-responsive.min.js"></script>
    <script src="webfontloader/webfontloader.js"></script>
    <script src="ga-javascript-sdk/dist/GaJavaScriptSdk.js"></script>
    <script src="phaser-cachebuster/build/phaser-cachebuster.min.js"></script>
    <script src="phaser-spine/build/phaser-spine.min.js"></script>
    <script src="orange-games-splash/build/orange-games-splash.js"></script>
    <script src="orange-games-branding/build/orange-games-branding.js"></script>
    <script src="og-fabrique-boilerplate.js"></script>

    <script type="text/javascript">
        /**
         * Script used for live reloading on development environments
         * Not used for production!!!!
         */
        if (window.location.host !== 'generic.tc.ds.orangegames.com') {
            (function(d, script) {
                script = d.createElement('script');
                script.type = 'text/javascript';
                script.async = true;
                script.onload = function(){
                    // remote script has loaded
                };
                script.src = '//' + window.location.hostname + ':35729/livereload.js';
                d.getElementsByTagName('head')[0].appendChild(script);
            }(document));
        }
    </script>

    <script type="text/javascript">
        /**
         * Here we create the game
         */
        var game = new BoilerPlate.Game.getInstance()
            version = 'dev';

        /**
         * Below here are all the events that are fired by the game.\
         * Use these events to show ads or implement highscore
         *
         * The events can only be added when the document is done loading (ready), so we have to wait for this
         */
        game.device.whenReady(function () {
            game.events.onGameStart.add(function () {
                //Fired when the game starts
            });
            game.events.onGameEnd.add(function (score) {
                //Fired when the game ends
            });
            game.events.onLevelStart.add(function () {
                //Fired when the game starts
            });
            game.events.onLevelEnd.add(function () {
                //Fired when the game starts
            });
        });
    </script>
</head>
<body onload="javascript:game.start();">
    <div id="content"></div>
    <div id="dummy" style="position:fixed;right:0;bottom:0"></div>
    <div id="orientation"></div>
</body>
</html>
